@charset "UTF-8";
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  position: relative;
  padding: 52px 0 0 227px;
  height: 800px;
  background-color: #2c2c2c;
  color: #fff;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px; }
  .header__button {
    cursor: pointer;
    outline: none;
    background: #2060f6;
    border-radius: 8px;
    color: #fff;
    border: none;
    padding: 13px 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px; }
    .header__button:hover {
      color: #2060f6;
      background-color: #fff; }
  .header__text {
    width: 360px;
    margin-top: 130px; }
    .header__text-big {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 64px;
      line-height: 68px;
      margin-bottom: 32px; }
    .header__text-small {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      line-height: 150%;
      margin-bottom: 69px; }
  .header__column {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 687px;
    height: 680px;
    background-image: url(../images/slider/Photo_new.png);
    background-size: cover; }

@-webkit-keyframes slider-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #fff;
            box-shadow: 0 0 0 0 #fff; } }

@keyframes slider-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #fff;
            box-shadow: 0 0 0 0 #fff; } }

.slider {
  margin-top: 564px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .slider__button {
    cursor: pointer;
    outline: none;
    text-align: center;
    color: #253757;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 16px; }
    .slider__button:hover {
      -webkit-animation: slider-pulse 1s;
              animation: slider-pulse 1s;
      -webkit-box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
              box-shadow: 0 0 0 1em rgba(255, 255, 255, 0); }
  .slider__button--left {
    background: url(../images/slider/Vector--left.png) no-repeat center;
    background-color: #fff;
    margin-right: 8px; }
  .slider__button--right {
    background: url(../images/slider/Vector--right.png) no-repeat center;
    background-color: #fff;
    margin-right: 24px; }
  .slider__text--big {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 8px; }
  .slider__text--small {
    width: 264px;
    font-size: 14px;
    line-height: 140%; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-bottom: 37px; }
  .nav__logo {
    display: inline-block;
    background-image: url(../images/logo/Air.png);
    background-size: cover;
    width: 45px;
    height: 26px; }
  .nav__item {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer; }
  .nav__link {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    margin: 0 227px 0 318px;
    position: relative; }
    .nav__link::before {
      content: "";
      position: absolute;
      bottom: -8px;
      width: 100%;
      height: 1px;
      background-color: #2060f6;
      border: 1px solid #2060f6;
      border-radius: 4px; }

.who-we {
  margin: 148px 423px;
  color: #6c78bb; }
  .who-we__text-title {
    color: #253757;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 16px; }
  .who-we__text-description {
    width: 754px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b; }

.expertise {
  padding: 128px 227px 155px;
  background-color: #fff;
  border-radius: 30px; }
  .expertise__text-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    margin-bottom: 64px; }
  .expertise__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.card {
  width: 264px; }
  .card__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 164px;
    height: 166px;
    border-radius: 30px;
    margin: 0 auto 40px; }
  .card__text-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #253757;
    margin-bottom: 16px; }
  .card__text-description {
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #6c788b; }

.agency {
  padding: 148px 227px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 44px; }
  .agency__column-left {
    margin-top: 100px;
    width: 362px; }
  .agency__text-caption {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    margin-bottom: 16px; }
  .agency__text-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #253757;
    margin-bottom: 24px; }
  .agency__text-description {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: #6c788b;
    margin-bottom: 1em; }
  .agency__column-right {
    display: grid;
    max-width: 560px;
    gap: 30px;
    grid-template-columns: repeat(2, 260px);
    grid-template-rows: repeat(2, 260px); }

.offer-card {
  z-index: 1;
  padding: 32px;
  background-color: #fff;
  border-radius: 16px; }
  .offer-card__number {
    padding: 2px 12px;
    color: #2060f6;
    background-color: rgba(32, 96, 246, 0.1);
    border-radius: 23px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    width: 46px;
    margin-bottom: 24px; }
  .offer-card__description {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    margin-bottom: 40px; }
  .offer-card__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .offer-card__button {
    outline: none;
    cursor: pointer;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: url(../images/what-we-do/vector.png) no-repeat center;
    background-color: #2060f6; }
    .offer-card__button:hover {
      -webkit-animation: agency-pulse 1s;
              animation: agency-pulse 1s;
      -webkit-box-shadow: 0 0 0 2em rgba(32, 96, 246, 0);
              box-shadow: 0 0 0 2em rgba(32, 96, 246, 0); }

@-webkit-keyframes agency-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #2060f6;
            box-shadow: 0 0 0 0 #2060f6; } }

@keyframes agency-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #2060f6;
            box-shadow: 0 0 0 0 #2060f6; } }

.offer-card:nth-of-type(1),
.offer-card:nth-of-type(3) {
  -webkit-transform: translateY(150px);
          transform: translateY(150px); }

.approach {
  height: 976px;
  position: relative;
  color: #fff;
  padding: 204px 0 0 204px;
  background-color: #2c2c2c;
  margin-left: 121px;
  border-radius: 30px 0 0 30px;
  margin-bottom: 148px; }
  .approach__caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 16px; }
  .approach__column--big {
    width: 362px; }
  .approach__text-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px; }
  .approach__column--icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .approach__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .approach__row:not(:last-child) {
    margin-bottom: 64px; }
  .approach__link {
    width: 64px;
    height: 64px;
    padding: 20px;
    background-color: #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 34px; }
    .approach__link:hover {
      -webkit-animation: pulse-icon 1s;
              animation: pulse-icon 1s;
      -webkit-box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
              box-shadow: 0 0 0 2em rgba(255, 255, 255, 0); }
  .approach__icon {
    width: 32px;
    height: 32px; }
  .approach__text {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 150%; }
  .approach__image {
    position: absolute;
    width: 687px;
    height: 680px;
    right: 0;
    bottom: 0;
    background: no-repeat center; }

@-webkit-keyframes pulse-icon {
  0% {
    -webkit-box-shadow: 0 0 0 0 #fff;
            box-shadow: 0 0 0 0 #fff; } }

@keyframes pulse-icon {
  0% {
    -webkit-box-shadow: 0 0 0 0 #fff;
            box-shadow: 0 0 0 0 #fff; } }

.testimonials {
  padding: 0 227px;
  margin-bottom: 168px; }
  .testimonials__text-caption {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-align: start;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }
  .testimonials__text-title {
    width: 200px;
    margin: 16px 0 85px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #253757; }
  .testimonials__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .testimonials__card {
    position: relative;
    border-radius: 16px;
    background-color: #fff;
    width: 319px; }
  .testimonials__photo {
    position: relative;
    left: 20%;
    width: 140px;
    height: 140px;
    margin: 0 0 111px;
    border-radius: 50%; }
  .testimonials__person {
    position: relative;
    padding: 87px 32px 32px; }
  .testimonials__square-left {
    position: absolute;
    width: 139px;
    height: 56px;
    background: #2060f6;
    border-radius: 12px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg); }
  .testimonials__square-right {
    position: absolute;
    right: 50px;
    top: 170px;
    width: 139px;
    height: 56px;
    background: #2060f6;
    border-radius: 12px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg); }
  .testimonials__text-card {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
    margin: 0 32px 16px; }
    .testimonials__text-card::before {
      content: "";
      top: -20px;
      left: 48%;
      position: absolute;
      width: 21px;
      height: 19px;
      background: url(../images/testimonials/“.png) no-repeat center; }
  .testimonials__text-name {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #253757;
    margin-bottom: 4px; }
  .testimonials__text-caption-card {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }

.vision-passion-results {
  position: relative;
  padding: 200px 442px 400px;
  width: 100%;
  background-color: #fff; }
  .vision-passion-results__content {
    width: 750px; }
  .vision-passion-results__text-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #253757;
    margin-bottom: 24px; }
  .vision-passion-results__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
    margin: 0 auto 64px; }
  .vision-passion-results__button {
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 226px;
    height: 56px;
    background: #2060f6;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff; }
    .vision-passion-results__button:hover {
      -webkit-animation: button-pulse 1s;
              animation: button-pulse 1s;
      -webkit-box-shadow: 0 0 0 2em rgba(32, 96, 246, 0);
              box-shadow: 0 0 0 2em rgba(32, 96, 246, 0); }

@-webkit-keyframes button-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #2060f6;
            box-shadow: 0 0 0 0 #2060f6; } }

@keyframes button-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #2060f6;
            box-shadow: 0 0 0 0 #2060f6; } }

.oval {
  position: absolute;
  opacity: 0.5;
  border: 3px solid #2060f6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg); }
  .oval-little {
    width: 46px;
    height: 18px;
    border-radius: 6px; }
    .oval-little-1 {
      left: 30%;
      top: 10%; }
    .oval-little-2 {
      left: 80%;
      top: 15%; }
    .oval-little-3 {
      left: 32%;
      top: 50%; }
    .oval-little-4 {
      left: 65%;
      top: 60%; }
  .oval-middle {
    width: 86px;
    height: 34px;
    border-radius: 12px; }
    .oval-middle-1 {
      left: 15%;
      top: 15%; }
    .oval-middle-2 {
      left: 8%;
      top: 70%; }
    .oval-middle-3 {
      left: 80%;
      top: 60%; }
    .oval-middle-4 {
      left: 90%;
      top: 30%; }
  .oval-big {
    width: 144px;
    height: 57px;
    border-radius: 12px; }
    .oval-big-1 {
      left: 17%;
      top: 50%; }
    .oval-big-2 {
      left: 80%;
      top: 30%; }
    .oval-big-3 {
      left: 85%;
      top: 60%; }

.contact {
  background-color: #2c2c2c; }
  .contact__row {
    background-color: #2c2c2c; }
  .contact__column-left {
    background-color: #2c2c2c; }
  .contact__column-right {
    background-color: #2c2c2c; }
  .contact__text-title {
    background-color: #2c2c2c; }
  .contact__caption {
    background-color: #2c2c2c; }
  .contact__text {
    background-color: #2c2c2c; }
  .contact__row-social {
    background-color: #2c2c2c; }
  .contact__social-icon {
    background-color: #2c2c2c; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  background: #f2f6fa; }

/*# sourceMappingURL=main.css.map */
